/* 背景图 */
#web_bg {
    background-size: 20rem;
    background-image: url(https://imghubc.pages.dev/file/tg/XFPn1x96.svg)!important;
    background-repeat: initial
}

[data-theme=dark] #web_bg {
    background-size: 100rem;
    background-image: url(https://imghubc.pages.dev/file/tg/V3Eo65Bg.jpg)!important
}

/* 侧边栏头像卡片 */
#aside-content>.card-widget.card-info::before {
  background: url('https://imghubc.pages.dev/file/tg/2WEmHzWO.gif');
  border: 0;
  position: absolute;
  background-size: 100% 100%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
/* 调整文字颜色与层级关系 */
.card-info {
  color: #fff;
  position: relative;
  z-index: 2;
}

/*首页文章卡片擦亮效果*/
#recent-posts > .recent-post-item:not(a)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to right, transparent, white, transparent);
  transform: translateX(-200%);
  transition: transform 0.5s linear;
  z-index: 1;
}
#recent-posts > .recent-post-item:not(a):hover::before {
  transform: translateX(100%) skewX(-60deg);
}
